[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
matplotlib = "*"
pyyaml = "*"
pycocotools = "*"
cython = "*"
scikit-learn = "*"
pandas = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
